 <div class="container-fluid navdiv">
    <div class="row" style="height: 8vh">
      <div class="col" style="padding-left: 0px; padding-right: 0px">
        <img
          src="assets/photo1.PNG"
          alt="photo1"
          style="width: 50px; padding-top: 5px"
        />
      </div>
      <div class="col-6" style="height: 100%">
        <div>UTS</div>
        <div style="white-space: nowrap">IR Unreserved Ticketing</div>
      </div>
      <div
        class="col"
        style="padding-left: 0px; padding-right: 0px; margin-left: 15px"
      >
        <img
          src="assets/photo2.PNG"
          alt="photo2"
          style="padding-top: 14px; width: 35px"
        />
      </div>
      <div
        class="col"
        style="
          padding-left: 0px;
          padding-right: 0px;
          margin-left: 4px;
          margin-left: 15px;
        "
      >
        <img
          src="assets/photo3.PNG"
          alt="photo3"
          style="width: 35px; padding-top: 14px"
        />
      </div>
      <div class="col" style="padding-top: 4px; padding-left: 11px">
        <div style="padding-top: 16px">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>