<div class="container-fluid navdiv" style="height: 8vh">
  <div class="row">
    <div class="col-2" style="margin-top: 39px">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100"
          height="100"
          fill="currentColor"
          class="bi bi-arrow-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
          />
        </svg>
      </div>
    </div>
    <div
      class="col"
      style="font-size: 61px; margin-top: 39px; margin-left: -40px"
    >
      Show Ticket
    </div>
  </div>
</div>

<div
  class="container-fluid navdiv"
  style="
    margin-top: 50px;
    width: 92%;
    height: 5vh;
    margin-left: 43px;
    border-radius: 21px;
  "
>
  <div class="row">

     
    <div class="col" style="font-size: 50px; margin-top: 18px">SHOW TICKET</div>
  </div>
</div>

<div
  class="container-fluid showclass"
  style="
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  background-image: url('assets/booked.PNG');
  "

>
  <div class="row"></div>

  <div class="row showRow">
    <div
      class="col-6 journey_class"
      style="padding-top: 12px; border-right: 2px solid #dee2e6"
    >
      JOURNEY(M-TICKET)
    </div>
    <div class="col"></div>
    <div class="col journey_class" style=" padding-top: 5px">
      <div>
        FARE :

        <img
          src="assets/rupee.PNG"
          alt="rupee"
          style="width: 54px; border-radius: 50%"
        />
        {{bookingpara.fare}}
      </div>
    </div>
  </div>

  <div class="row start_end" style="border-bottom: 3px solid #dee2e6;">
    <div
      class="col"
      style="
        font-size: 23px;
        font-weight: bold;
        border-right: 2px solid #dee2e6;
      "
    >
      <img
        src="assets/source.PNG"
        alt="source"
        style="width: 54px; border-radius: 50%"
      />

     {{bookingpara.source}}
    </div>
    <div class="col" style="font-size: 20px; font-weight: bold">
      <img
        src="assets/destination.PNG"
        alt="destination"
        style="width: 54px; border-radius: 50%"
      />
     {{bookingpara.destination}}
    </div>
  </div>

  <div class="row via" style="font-size: 20px; font-weight: bold;border-bottom: 3px solid #dee2e6;">
    <div class="col">Via:--</div>
  </div>
  <div class="row gend" style="font-size: 20px; font-weight: bold;border-bottom: 3px solid #dee2e6;">
    <div class="col">
      ADULT:<span style="color: rgba(254, 117, 104, 255)">{{bookingpara.adult}}</span> CHILD:<span
        style="color: rgba(254, 117, 104, 255)"
        >0</span
      >
    </div>
    <div class="col">SECOND(||)</div>
    <div class="col">SUPERFAST(S)</div>
  </div>
  <div class="row datu" style="font-size: 20px; font-weight: bold;border-bottom: 3px solid #dee2e6;">
    <div class="col">
      BOOKING DATE:<span style="color: rgba(254, 117, 104, 255)"
        >{{bookingpara.date}}</span
      >
    </div>
    <div class="col">
      UTS NO:<span style="color: rgba(254, 117, 104, 255)">XYG0E39025</span>
    </div>
  </div>
  <div
    class="row nextplan"
    style="font-size: 20px; font-weight: bold; color: rgba(254, 117, 104, 255)"
  >
    <div class="col" [routerLink]="['viewtkt']">
      <img
        src="assets/rightArrow.PNG"
        alt="rightArrow"
        style="width: 54px; border-radius: 50%"
      />
      VIEW TICKET
    </div>
    <div class="col">
      <img
        src="assets/search.PNG"
        alt="search"
        style="width: 54px; border-radius: 50%"
      />NEXT TRAINS
    </div>
  </div>
</div>
