<div class="container-fluid navdiv" style="height: 8vh" [routerLink]="['/']">
  <div class="row">
    <div class="col-2" style="padding-top: 16px">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-arrow-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
          />
        </svg>
      </div>
    </div>
    <div
      class="col"
      style="font-size: 18px; margin-top: 16px; margin-left: -26px"
    >
      Show Ticket
    </div>
  </div>
</div>

<div
  class="container-fluid navdiv"
  style="margin-top: 10px; width: 96%; height: 5vh; border-radius: 5px"
>
  <div class="row">
    <div class="col-2"></div>
    <div class="col" style="font-size: 11px; margin-top: 11px">SHOW TICKET</div>
  </div>
</div>

<div
  class="container-fluid showclass"
  style="
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    background-image: url('assets/booked.PNG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 78% 52%;
  "
>
  <div class="row"></div>

  <div class="row showRow">
    <div class="col-6 journey_class" style="border-right: 2px solid #dee2e6">
      JOURNEY(M-TICKET)
    </div>

    <div class="col-6 fare_class" style="padding-top: 5px; padding-left: 58px">
      <div>
        FARE :

        <img
          src="assets/rupee.PNG"
          alt="rupee"
          style="width: 19px; border-radius: 50%"
        />
        <!-- {{bookingpara.fare}} -->
        115.00
      </div>
    </div>
  </div>

  <div class="row start_end" style="border-bottom: 3px solid #dee2e6">
    <div
      class="col"
      style="
        font-size: 11px;
        font-weight: bold;
        border-right: 2px solid #dee2e6;
      "
    >
      <img
        src="assets/source.PNG"
        alt="source"
        style="width: 35px; border-radius: 50%"
      />

      <!-- {{bookingpara.source}} -->
        NAGPUR.
      <!-- AMARAVATI -->
      <!-- AKOLA JN. -->
    </div>
    <div class="col" style="font-size: 11px; font-weight: bold">
      <img
        src="assets/destination.PNG"
        alt="destination"
        style="width: 35px; border-radius: 50%"
      />
      <!-- {{bookingpara.destination}} -->
       <!-- NAGPUR  -->
       AKOLA JN.
        <!-- BADNERA JN. -->
    </div>
  </div>

  <div
    class="row via"
    style="
      font-size: 11px;
      margin-left: 3px;
      font-weight: bold;
      border-bottom: 3px solid #dee2e6;
    "
  >
    <div class="col" style="padding-left: 0px">Via:--</div>
  </div>
  <div
    class="row gend"
    style="
      font-size: 11px;
      margin-left: 3px;
      font-weight: bold;
      border-bottom: 3px solid #dee2e6;
    "
  >
    <div class="col" style="padding-left: 0px; border-right: 3px solid #dee2e6">
      ADULT:<span style="color: rgba(254, 117, 104, 255)">
        <!-- {{bookingpara.adult}} -->1
      </span>
      CHILD:<span style="color: rgba(254, 117, 104, 255)">0</span>
    </div>
    <div class="col" style="border-right: 3px solid #dee2e6">SECOND(||)</div>
    <div class="col">SUPERFAST(S)</div>
  </div>
  <div
    class="row datu"
    style="font-size: 11px; font-weight: bold; border-bottom: 3px solid #dee2e6;margin-left: 0px;"
  >


<div style="display: flex;">
   <div style="border-right: 3px solid #dee2e6;width: 65%;">
      BOOKING DATE:<span style="color: rgba(254, 117, 104, 255)">
        <!-- {{bookingpara.date}} -->
        02/08/2025 07:37
      </span>
    </div>
   <div style="font-size: 11px; padding-left: 0px;width: 41%;">
      UTS NO:<span style="color: rgba(254, 117, 104, 255)">XYG0E39025</span>
    </div>
</div>


   
  </div>
  <div
    class="row nextplan"
    style="font-size: 11px; font-weight: bold; color: rgba(254, 117, 104, 255)"
  >
    <div class="col" style="padding-left: 4px" [routerLink]="['viewtkt']">
      <img
        src="assets/rightArrow.PNG"
        alt="rightArrow"
        style="width: 35px; border-radius: 50%"
      />
      VIEW TICKET
    </div>
    <div class="col" style="padding-left: 91px">
      <img
        src="assets/search.PNG"
        alt="search"
        style="width: 35px; border-radius: 50%"
      />NEXT TRAINS
    </div>
  </div>
</div>
