 <div class="container-fluid navdiv">
    <div class="row" style="height: 8vh">
      <div class="col" style="padding-left: 0px; padding-right: 0px">
        <img
          src="assets/photo1.PNG"
          alt="photo1"
          style="width: 50px; padding-top: 5px"
        />
      </div>
      <div class="col-6" style="height: 100%">
        <div>UTS</div>
        <div style="white-space: nowrap">IR Unreserved Ticketing</div>
      </div>
      <div
        class="col"
        style="padding-left: 0px; padding-right: 0px; margin-left: 15px"
      >
        <img
          src="assets/photo2.PNG"
          alt="photo2"
          style="padding-top: 14px; width: 35px"
        />
      </div>
      <div
        class="col"
        style="
          padding-left: 0px;
          padding-right: 0px;
          margin-left: 4px;
          margin-left: 15px;
        "
      >
        <img
          src="assets/photo3.PNG"
          alt="photo3"
          style="width: 35px; padding-top: 14px"
        />
      </div>
      <div class="col" style="padding-top: 4px; padding-left: 11px">
        <div style="padding-top: 16px">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>

  
<div
  class="container-fluid showclass"
  style="
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
>
  <div
    class="row"
    style="
      color: white;
      height: 4vh;
    background-image: linear-gradient(to right, rgba(254, 117, 104, 255), rgba(248, 135, 73, 255));
      font-size: 11px;
      padding-top: 6px;
      padding-left: 21px;
      border-radius: 10px 10px 0px 0px;
    "
  >
    NORMAL BOOKING
  </div>



<div class="row">
    <div class="col">
        <mat-form-field>
  <mat-label>Select an option</mat-label>
  <mat-select >
    <!-- [(value)]="selected" -->
    <mat-option>None</mat-option>
    <mat-option value="option1">Option 1</mat-option>
    <mat-option value="option2">Option 2</mat-option>
    <mat-option value="option3">Option 3</mat-option>
  </mat-select>
</mat-form-field>
    </div>
    <div class="col">
          <mat-form-field>
  <mat-label>Select an option</mat-label>
  <mat-select >
    <!-- [(value)]="selected" -->
    <mat-option>None</mat-option>
    <mat-option value="option1">Option 1</mat-option>
    <mat-option value="option2">Option 2</mat-option>
    <mat-option value="option3">Option 3</mat-option>
  </mat-select>
</mat-form-field>
    </div>
</div>


   


  <div class="row" style="margin-top: 10px">
    <div class="col" style="padding-left: 33px">
      <div
        style="
          border-radius: 16px;
          width: 75%;
          font-size: 12px;
          color: white;
          text-align: center;
          background-image: linear-gradient(
            to right,
            rgba(254, 117, 104, 255),
            rgba(248, 135, 73, 255)
          );
        "
      >
        NEXT TRAINS
      </div>
    </div>
    
  </div>
  <div class="row" style="margin-top: 10px;"></div>
</div>