

<div style="position: relative;
left: 30%;
right: 30%;
border: 1px solid black;
height: auto;
width: 40%; background-color: white">


<form [formGroup]="loginform" (ngSubmit)="login()">
  <div class="form-group">
    <label for="id">Email address</label>
    <input type="text" class="form-control" formControlName="id" id="id" aria-describedby="emailHelp" placeholder="Enter Login Id">
    
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter Password">
  </div>
  
  <div style="text-align: center;"><button type="submit" class="btn btn-success btn-lg">Submit</button></div>
</form>


</div>

















