

<div class="scroll_div">

    <nav  style="background-color:white; height: 8vh;">
        <div style="padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;">
           



            <div style="float: left;" routerLink="/signup" >SIGN UP</div>
            <div style="float: right;" routerLink="/login" >SIGN IN</div>
        </div>

    </nav>

    <div style="text-align: center;  margin-top: 30px;">
        <button style="text-transform: uppercase;
        color: white;
        width: 15vw;
        height: 54px;" type="button" class="btn btn-warning" routerLink="/createprofile" >Create Your Profile.</button>
    </div>
  
    <router-outlet />
</div>