<div class="container-fluid" style="height: 8vh">
  <div class="row">
    <div class="col">
      <img
        src="assets/below.PNG"
        alt="below"
        style="width: 120px; border-radius: 50%"
      />
    </div>
    <div class="col-8"></div>
    <div class="col" style="text-align: center; margin-top: 14px">
      <img src="assets/photoWhite.PNG" alt="photoWhite" style="width: 120px" />
    </div>
  </div>
</div>

<div
  class="container-fluid showclass_base"
  style="
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  "
>
  <div class="row"></div>
  <div class="row head">HAPPY JOURNEY</div>
  <div class="row" style="height: 3vh">
    <div class="col"></div>
    <div class="col" style="font-size: 40px; font-weight: bold">JOURNEY</div>
    <div class="col" style="font-size: 40px; font-weight: bold">14/06/2025</div>
  </div>

  <div class="row" style="margin-left: 45px">
    <div class="col" style="font-size: 40px; font-weight: bold">110.00/-</div>
    <div class="col"></div>
    <div class="col" style="font-size: 40px; font-weight: bold">9637703183</div>
  </div>

  <div
    class="row"
    style="
      border-bottom: 3px solid black;
      margin-left: 45px;
      margin-right: 45px;
    "
  >
    <div class="col" style="font-size: 40px; font-weight: bold">
      UTS No:XYG0E39025
    </div>

    <div class="col" style="font-size: 40px; font-weight: bold"></div>
  </div>

  <div class="row" style="margin-top: 31px">
    <div
      class="col"
      style="font-size: 40px; font-weight: bold; margin-left: 45px"
    >
      <div class="row">
        <div class="col-2">
          <img
            src="assets/violet_S.PNG"
            alt="vio"
            style="width: 54px; border-radius: 50%;margin-top: 48px;"
          />
        </div>
        <div class="col" style="margin-left: -77px;">
          <div>नागपूर</div>
          <div>NAGPUR</div>
          <div>नागपुर ज.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 31px">
    <div
      class="col"
      style="font-size: 40px; font-weight: bold; margin-left: 45px"
    >


 <div class="row">
        <div class="col-2">
          <img
            src="assets/violet_D.PNG"
            alt="vio"
            style="width: 54px; border-radius: 50%;margin-top: 48px;"
          />
        </div>
        <div class="col" style="margin-left: -77px;">
          <div>अकोला ज.</div>
      <div>AKOLA JN</div>
      <div>अकोला जण.</div>
        </div>
      </div>

      
    </div>
  </div>

  <div
    class="row"
    style="
      font-size: 40px;
      font-weight: bold;
      margin-left: 45px;
      margin-top: 31px;
    "
  >
    <div class="col">ADULT:1 CHILD:0</div>
    <div class="col"></div>
  </div>
  <div
    class="row"
    style="
      font-size: 40px;
      margin-top: 31px;
      margin-left: 45px;
      font-weight: bold;
      border-bottom: 3px solid black;
      margin-left: 45px;
      margin-right: 45px;
    "
  >
    <div class="col">
      <div>द्वितीय</div>
      <div>CLASS:SECOND</div>
      <div>द्वि श्रे</div>
    </div>
    <div class="col">
      <div>सुपर फास्ट</div>
      <div>TRAIN TYPE:SUPERFAST</div>
      <div>सुपर फास्ट</div>
    </div>
  </div>
  <div
    class="row"
    style="
      font-size: 40px;
      margin-left: 45px;
      font-weight: bold;
      border-bottom: 3px solid black;
      margin-left: 45px;
      margin-right: 45px;
    "
  >
    <div class="col-4">SAC:996421</div>
    <div class="col-8">IR:27AAAGM0289C2ZI</div>
  </div>
  <div
    class="row"
    style="
      font-size: 40px;
      margin-top: 25px;
      font-weight: bold;
      margin-left: 45px;
    "
  >
    <div class="col">JCO ON:07/06/2025</div>
  </div>
  <div
    class="row"
    style="
      font-size: 40px;
      margin-top: 25px;
      font-weight: bold;
      margin-left: 45px;
    "
  >
    <div class="col">R17310</div>
    <div class="col">Distance:253km</div>
  </div>
  <div
    class="row"
    style="
      font-size: 40px;
      margin-top: 25px;
      font-weight: bold;
      margin-left: 45px;
    "
  >
    <div class="col">BOOKING TIME:07/06/2025 07:37</div>
  </div>
</div>

<div class="container-fluid" style="font-size: 35px; margin-left: 45px">
  <div class="row">
    <div class="col" style="font-size: 40px">
      It is recommneded not to perform factory reset or
      <div>chnage your handset whenever you are valid</div>
      <div>
        ticket in mobile.<span
          style="text-decoration: underline; color: rgba(254, 117, 104, 255)"
          >Click for Changing Handset with Valid Ticket</span
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="color: red">
      <div style="text-align: center; margin-right: 131px; font-size: 40px">
        FOR MEDICAL EMERGENCY/FIRST AID.CONTACT
        <div>TICKET CHECKING STAFF/GUARD OR DIAL 139</div>
      </div>
    </div>
  </div>
</div>

<div
  class="container-fluid navdiv"
  style="
    margin-top: 50px;
    width: 82%;
    height: 5vh;
    margin-left: 81px;
    border-radius: 60px;
  "
>
  <div class="row">
    <div
      class="col"
      style="font-size: 50px; margin-top: 18px; text-align: center"
    >
      OPEN QR CODE
    </div>
  </div>
</div>

<div
  class="container-fluid navdiv"
  style="
    margin-top: 50px;
    width: 82%;
    height: 5vh;
    margin-left: 81px;
    border-radius: 60px;
  "
>
  <div class="row">
    <div
      class="col"
      style="font-size: 50px; margin-top: 18px; text-align: center"
    >
      NEXT TRAIN TO AKOLA JN.
    </div>
  </div>
</div>

<div
  class="container-fluid navdiv"
  style="
    margin-top: 50px;
    width: 82%;
    height: 5vh;
    margin-left: 81px;
    border-radius: 60px;
  "
>
  <div class="row">
    <div
      class="col"
      style="font-size: 50px; margin-top: 18px; text-align: center"
    >
      OK
    </div>
  </div>
</div>

<div
  class="container-fluid"
  style="font-size: 40px; text-align: center"
  id="footerOne"
>
  <div class="row">
    <div class="col">Centre for Railway Information System(CRIS)</div>
  </div>
</div>
