.showclass_base {
  margin-top: 6px;
 background-color: #e7aa59; 
  /* background-color: #eeace4; */
  /* background-color: #baf3d8; */
  width: 95%;
  height: 60vh;
  border-radius: 10px 10px 0px 0px;
}
.head {
  font-size: 11px;
  font-weight: bold;
  margin-left: 0px;
  margin-top: 7px;
  border-bottom: 1px solid black;
  margin-right: 0px;
  height: 4vh;
  padding-top: 3px;
}
.navdiv {
  color: white;
  background-image: linear-gradient(
    to right,
    rgba(254, 117, 104, 255),
    rgba(248, 135, 73, 255)
  );
}
#footerOne {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.scroll-container {
  width: 100%;
  overflow: hidden;
  background-color: white;
  white-space: nowrap;
  box-sizing: border-box;
  padding-top: 17px;
}

.scroll-text {
  display: inline-block;
  padding-right: 100%; /* Starts off-screen to the right */
  animation: scroll-rtl 5s linear infinite;
}

@keyframes scroll-rtl {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
