.showclass_base {
  margin-top: 50px;
  background-color: #cc8222;
  width: 89%;
  height: 60vh;
  margin-left: 61px;
  border-radius: 21px;
}
.head {
  font-size: 40px;
  font-weight: bold;
  margin-left: 61px;
  margin-top: 40px;
  border-bottom: 3px solid black;
  margin-right: 50px;
  height: 4vh;
}
.navdiv {
  color: white;
  background-image: linear-gradient(
    to right,
    rgba(254, 117, 104, 255),
    rgba(248, 135, 73, 255)
  );
}
#footerOne {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.scroll-container {
  width: 100%;
  overflow: hidden;
  background-color:white;
  white-space: nowrap;
  box-sizing: border-box;
  padding-top: 17px;
}

.scroll-text {
  display: inline-block;
  padding-right: 100%; /* Starts off-screen to the right */
  animation: scroll-rtl 5s linear infinite;
}

@keyframes scroll-rtl {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
