<div class="container-fluid" style="height: 8vh">
  <div class="row">
    <div class="col-2">
      <img
        src="assets/below.PNG"
        alt="below"
        style="width: 50px; border-radius: 50%"
      />
    </div>
    <div class="col">
      <div class="scroll-container">
        <div class="scroll-text">IR Unreserved Ticketing</div>
      </div>
    </div>
    <div
      class="col-2"
      style="text-align: center; margin-top: 9px; padding-left: 2px"
    >
      <img src="assets/photoWhite.PNG" alt="photoWhite" style="width: 50px" />
    </div>
  </div>
</div>

<div
  class="container-fluid showclass_base"
  style="
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  "
>
  <div class="row"></div>
  <div class="row head">HAPPY JOURNEY</div>
  <div class="row" style="height: 3vh">
    <div class="col"></div>
    <div class="col" style="font-size: 11px; font-weight: bold">JOURNEY</div>
    <div class="col" style="font-size: 11px; font-weight: bold">28/09/2025</div>
  </div>

  <div class="row">
    <div class="col" style="font-size: 11px; font-weight: bold">
      &#8377; 90/-
    </div>
    <div class="col"></div>
    <div class="col" style="font-size: 11px; font-weight: bold">9637703183</div>
  </div>

  <div
    class="row"
    style="border-bottom: 1px solid black; margin-left: 0px; margin-right: 0px"
  >
    <div class="col" style="font-size: 11px; font-weight: bold; padding-left: 0px;">
      UTS No:XYG0E39025
    </div>

    <div class="col" style="font-size: 11px; font-weight: bold"></div>
  </div>

  <div class="row" style="margin-top: 31px">
    <div
      class="col"
      style="font-size: 11px; font-weight: bold; margin-left: 45px"
    >
      <div class="row">
        <div class="col-2">
          <img
            src="assets/violet_S.PNG"
            alt="vio"
            style="
              width: 25px;
              border-radius: 50%;
              margin-top: 14px;
              margin-left: -40px;
            "
          />
        </div>
        <div class="col" style="margin-left: -55px">

          <!--   <div>अकोला ज.</div>
          <div>Akola JN</div>
          <div>अकोला जण.</div>    -->

            <div>अमरावती.</div>
          <div>AMARAVATI</div>
          <div>अमरावती.</div> 

     <!--    <div>नागपूर</div>
          <div>NAGPUR</div>
          <div>नागपुर ज.</div>-->

           <!-- <div>बडनेरा ज.</div>
          <div>BADNERA</div>
          <div>बडनेरा जण.</div> -->
         
     <!--      <div>अजनी.</div>
          <div>AJNI</div>
          <div>अजनी.</div>-->
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 31px">
    <div
      class="col"
      style="font-size: 11px; font-weight: bold; margin-left: 45px"
    >
      <div class="row">
        <div class="col-2">
          <img
            src="assets/violet_D.PNG"
            alt="vio"
            style="
              width: 25px;
              border-radius: 50%;
              margin-top: 14px;
              margin-left: -40px;
            "
          />
        </div>
        <div class="col" style="margin-left: -55px">

        <!--        <div>अकोला ज.</div>
          <div>Akola JN</div>
          <div>अकोला जण.</div>    -->

        <!--   <div>अमरावती.</div>
          <div>AMARAVATI</div>
          <div>अमरावती.</div>-->

          <div>नागपूर</div>
          <div>NAGPUR</div>
          <div>नागपुर ज.</div> 
          
           <!-- <div>बडनेरा ज.</div>
          <div>BADNERA</div>
          <div>बडनेरा जण.</div> -->
         
         <!--  <div>अजनी.</div>
          <div>AJNI</div>
          <div>अजनी.</div>-->
        </div>
      </div>
    </div>
  </div>
  
  <div
    class="row"
    style="
    font-size: 11px;
    font-weight: bold;
    margin-left: 0px;
    margin-top: 10px;
    "
  >
    <div class="col">Adult:1 &nbsp; Child:0</div>
    <div class="col"></div>
  </div> 
   <div
    class="row"
    style="
    font-size: 11px;
    margin-top: 16px;
    margin-left: 0px;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-right: 0px;
    "
  >
    <div class="col">
      <div>द्वितीय</div>
      <div>CLASS:SECOND</div>
      <div>द्वि श्रे</div>
    </div>
    <div class="col">
      <div>सुपर फास्ट</div>
      <div>TRAIN TYPE:SUPERFAST</div>
      <div>सुपर फास्ट</div>
    </div>
  </div> 
   <div
    class="row"
    style="
      font-size: 11px;
      margin-left: 0px;
      font-weight: bold;
      border-bottom: 1px solid black;
      margin-right: 0px;
    "
  >
    <div class="col-4">SAC:996421</div>
    <div class="col-8">IR:27AAAGM0289C2ZI</div>
  </div> 
   <div
    class="row"
    style="
      font-size: 11px;
      margin-top: 6px;
      font-weight: bold;
      margin-left: 0px;
    "
  >
    <div class="col">JCO ON:28/09/25</div>
  </div> 
 <div
    class="row"
    style="
      font-size: 11px;
      margin-top: 6px;
      font-weight: bold;
      margin-left: 0px;
    "
  >
    <div class="col">R17310</div>
    <div class="col">Distance:178km</div>
  </div> 
   <div
    class="row"
    style="
      font-size: 11px;
      margin-top: 8px;
      font-weight: bold;
      margin-left: 0px;
    "
  >
    <div class="col">BOOKING TIME:28/09/25 17:37</div>
  </div> 
</div>
<div style="font-size: 11px;
    margin-left: 9px;
    width: 95%;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px 0px 10px 10px;">
 <div class="container-fluid">
  <div class="row">
    <div class="col" style="font-size: 14px;
    padding-left: 18px;">
      It is recommneded not to perform factory reset or
      <div>chnage your handset whenever you are valid</div>
      <div>
        ticket in mobile.<span
          style="text-decoration: underline; color: rgba(254, 117, 104, 255)"
          >Click for Changing Handset with Valid Ticket</span
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="color: red">
      <div style="text-align: center; font-size: 14px">
        FOR MEDICAL EMERGENCY/FIRST AID.CONTACT
        <div>TICKET CHECKING STAFF/GUARD OR DIAL 139</div>
      </div>
    </div>
  </div>
</div>

 <div
  class="container-fluid navdiv"
  style="
    margin-top: 13px;
    width: 90%;
    height: 5vh;
    margin-left: 17px;
    border-radius: 60px;
  "
>
  <div class="row">
    <div
      class="col"
      style="    font-size: 15px;
    text-align: center;
    padding-top: 8px;"
    >
      OPEN QR CODE
    </div>
  </div>
</div> 

 <div
  class="container-fluid navdiv"
  style="
    margin-top: 13px;
    width: 90%;
    height: 5vh;
    margin-left: 17px;
    border-radius: 60px;
  "
>
  <div class="row">
    <div
      class="col"
      style="  font-size: 15px;
    
    text-align: center;
    padding-top: 8px;"
    >
      NEXT TRAIN TO AKOLA JN.
    </div>
  </div>
</div> 

<div
  class="container-fluid navdiv"
  style="
   margin-top: 13px;
    width: 90%;
    height: 5vh;
    margin-left: 17px;
    border-radius: 60px;
  "
>
  <div class="row">
    <div
      class="col"
      style="    font-size: 15px;
    text-align: center;
    padding-top: 8px;"
    >
      OK
    </div>
  </div>
</div> 
</div>

 <div
  class="container-fluid"
  style="font-size: 15px;
    text-align: center;
    font-weight: 600;
    background-color: white;"
  id="footerOne"
>
  <div class="row">
    <div class="col">Centre for Railway Information System(CRIS)</div>
  </div>
</div>
