<!-- <form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <label>source</label>
  <input type="text" name="source" [(ngModel)]="user.source" required />
  <br />

  <label>destination:</label>
  <input type="text" name="destination" [(ngModel)]="user.destination" required />
  <br />
 

  <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>
 -->



<div
  class="container-fluid showclass"
  style="
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  "
>
  <div class="row" style="color: white;
    height: 3vh;
    background-color: rgba(254, 117, 104, 255);
    font-size: 35px;
    padding-top: 6px;
    padding-left: 23px;border-radius: 21px 21px 0px 0px;
    ">NORMAL BOOKING</div>


  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
  </div>
 

  
  

</div>
