<div *ngIf="showdiv">
  <!-- 360x740 -->
  <div class="container-fluid navdiv">
    <div class="row" style="height: 8vh">
      <div class="col" style="padding-left: 0px; padding-right: 0px">
        <img
          src="assets/photo1.PNG"
          alt="photo1"
          style="width: 50px; padding-top: 5px"
        />
      </div>
      <div class="col-6" style="height: 100%">
        <div>UTS</div>
        <div style="white-space: nowrap">IR Unreserved Ticketing</div>
      </div>
      <div
        class="col"
        style="padding-left: 0px; padding-right: 0px; margin-left: 15px"
      >
        <img
          src="assets/photo2.PNG"
          alt="photo2"
          style="padding-top: 14px; width: 35px"
        />
      </div>
      <div
        class="col"
        style="
          padding-left: 0px;
          padding-right: 0px;
          margin-left: 4px;
          margin-left: 15px;
        "
      >
        <img
          src="assets/photo3.PNG"
          alt="photo3"
          style="width: 35px; padding-top: 14px"
        />
      </div>
      <div class="col" style="padding-top: 4px; padding-left: 11px">
        <div style="padding-top: 16px">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container-fluid" style="text-align: center; margin-top: 5px">
      <div class="row">
        <div class="col" [routerLink]="['journeytkt']">
          <div>
            <img src="assets/normal.PNG" alt="normal" style="width: 40px" />
          </div>
          <div class="font_size">Journey Ticket</div>
        </div>
        <div class="col">
          <div>
            <img src="assets/QR.PNG" alt="photo3" style="width: 40px" />
          </div>
          <div class="font_size">
            QR
            <div>Booking</div>
          </div>
        </div>
        <div class="col">
          <div>
            <img src="assets/quick.PNG" alt="photo3" style="width: 40px" />
          </div>
          <div class="font_size">Quick Booking</div>
        </div>
        <div class="col">
          <div>
            <img src="assets/platform.PNG" alt="photo3" style="width: 40px" />
          </div>
          <div class="font_size">Platform Ticket</div>
        </div>
        <div class="col">
          <div>
            <img src="assets/season.PNG" alt="photo3" style="width: 40px" />
          </div>
          <div class="font_size">Season Ticket</div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container-fluid" style="text-align: center; margin-top: 5px">
      <div class="row">
        <div class="col col_border">
          <div>
            <img src="assets/cancel.PNG" alt="cancel" style="width: 30px" />
          </div>
          <div class="head_cap">CANCEL TICKET</div>
        </div>
        <div class="col col_border">
          <div>
            <img src="assets/booking.PNG" alt="booking" style="width: 30px" />
          </div>
          <div class="head_cap">BOOKING HISTORY</div>
        </div>
        <div class="col col_border" [routerLink]="['showtkt']" (click)="show()">
          <div>
            <img src="assets/show.PNG" alt="show" style="width: 30px" />
          </div>
          <div class="head_cap">SHOW TICKET</div>
        </div>
      </div>
      <div class="row">
        <div class="col col_border">
          <div>
            <img src="assets/wallet.PNG" alt="wallet" style="width: 40px" />
          </div>
          <div class="head_cap">R-WALLET</div>
        </div>
        <div class="col col_border" [routerLink]="['profile']">
          <div>
            <img src="assets/profile.PNG" alt="profile" style="width: 40px" />
          </div>
          <div class="head_cap">PROFILE</div>
        </div>
        <div class="col col_border">
          <div>
            <img src="assets/transc.PNG" alt="transc" style="width: 40px" />
          </div>
          <div class="head_cap">TRANSACTIONS</div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container-fluid" id="footer_above">
      <div class="row">
        <div class="col-8"></div>
        <div class="col-2" style="font-size: 14px">HELP</div>
        <div class="col-2" style="padding-left: 0px">
          <div class="circle_help">
            <img
              src="assets/help.PNG"
              alt="help"
              style="width: 30px; margin-top: 11px;"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container-fluid" id="footer">
      <div class="row"><div class="version_tab">G.16.70(15.1.50)</div></div>
      <div class="row" class="version_tab">
        <img
          src="assets/below.PNG"
          alt="below"
          style="width: 40px; border-radius: 50%"
        />
        Centre for Railway Information System(CRIS)
      </div>
    </div>
  </div>
</div>

<div
  class="container-fluid showclass"
  style="
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  "
>
  <div
    class="row"
    style="
      color: white;
      color: white;
      height: 4vh;
      background-color: rgba(254, 117, 104, 255);
      font-size: 11px;
      padding-top: 6px;
      padding-left: 21px;
      border-radius: 10px 10px 0px 0px;
    "
  >
    NORMAL BOOKING
  </div>

  <div class="row" style="padding-top: 12px">
    <div class="col" style="font-size: 11px">
      <input type="radio" name="paperless" (change)="handleChange($event)" />Book & Travel(Paperless)
    </div>
    <div class="col" style="font-size: 11px">
      <input type="radio" name="paperless" (change)="handlepaper($event)"/>Book & Print(Paper)
    </div>
  </div>

  <div
    class="row"
    style="
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-color: #f8f9fa;
      width: 101%;
      margin-left: 0px;
      font-size: 11px;
      margin-top: 12px;
    "
    *ngIf="instructions"

  >
    <div>
      * Use this option if you are outside station premises/Railway track
    </div>
    <div>* Use show ticket option on mobile is the travel authority.</div>
    <div>* Set your phone GPS to high accuracy mode.</div>
    <div style="color: red; font-weight: 600">
      * No cancellation is allowed for paperless ticket.
    </div>
  </div>


   <div
    class="row"
    style="
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-color: #f8f9fa;
      width: 101%;
      margin-left: 0px;
      font-size: 11px;
      margin-top: 12px;
    "
    *ngIf="paper"

  >
    <div>
      * Book anywhere.
    </div>
    <div>* Print ticket at originating station.</div>
    <div>* PRINTED TICKET is travel authority.</div>
    <div style="color: red; font-weight: 600">
      * Travel without ticket printout is punishable.
    </div>
  </div>

  <div class="row" style="width: 101%; margin-left: 0px; margin-top: 10px">
    <div class="col-5" style="border-bottom: 2px solid red; text-align: center" [routerLink]="['start']">
      <div style="font-size: 13px">Depart from</div>
      <div>STN</div>
      <div style="font-size: 11px">Station Name</div>
    </div>
    <div class="col-2">
      <div style="margin-top: 22px; margin-left: 9px">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-left-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"
          />
        </svg>
      </div>
    </div>
    <div class="col-5" style="border-bottom: 2px solid red; text-align: center" [routerLink]="['end']">
      <div style="font-size: 13px">Going to</div>
      <div>STN</div>
      <div style="font-size: 11px">Station Name</div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px">
    <div class="col" style="padding-left: 33px">
      <div
        style="
          border-radius: 16px;
          width: 75%;
          font-size: 12px;
          color: white;
          text-align: center;
          background-image: linear-gradient(
            to right,
            rgba(254, 117, 104, 255),
            rgba(248, 135, 73, 255)
          );
        "
      >
        NEXT TRAINS
      </div>
    </div>
    <div class="col" style="padding-left: 33px">
      <div
        style="
          border-radius: 16px;
          width: 75%;
          font-size: 12px;
          color: white;
          text-align: center;
          background-image: linear-gradient(
            to right,
            rgba(254, 117, 104, 255),
            rgba(248, 135, 73, 255)
          );
        "
      >
        GET FARE
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;"></div>
</div>
